<h2>Name</h2>
<img src="/assets/1529816545050.jpg" id="top_profile_img">
<h2>Team</h2>
<ul>
  <li>電気通信大学2年</li>
  <li>42Tokyo 第１期生</li>
  <li>SS LAB. インターン</li>
</ul>
<h2>Hobby</h2>
<ol>
  <li>アニメ鑑賞</li>
  <li>ゲーム</li>
  <li>実装を通じて学ぶ</li>
  <li>vimのよりよいキーバインドを追求する</li>
  <li>キーボードショートカットで効率化する</li>
</ol>
<h2>What made you know SPST?</h2>
<p>wantedlyでのスカウトを通じて興味を持ちました。</p>
<h2>What made you do programming?</h2>
<p>小さい頃からコンピュータにさわるのが好きでした。<br>
  したらば掲示板というサービスが有ったんですが、<br>
  その掲示板のUIを変更するのにHTMLの知識が必要だったことがコーディングの第一歩でした。<br>
  その後minecraftを通じてコマンドを勉強したりしてました。
</p>
<h2>What's your goal?</h2>
<p>
  「こんなサービスがほしい」と思ったことが何度もありますが、技術力がなくて今まで自分の力だけでは実現してきませんでした。
  Railsをストレスなく扱うことで、「こんなことができればいいのに」と思ったらすぐにwebサイトを作れるようになりたいです。
</p>
<h2>In a year...</h2>
<p>効率化を求め続け、学び続けられるような人間。<br>
  複雑なwebサイトも構築できるようにRailsを深く理解する。<br>
  セキュリティの分野も興味があります。
</p>
