<h1>Achieve got new blog post!</h1>

<!--<p>-->
<!--  <%#= @greeting %>, find me in app/views/notice_mailer/sendmail_blog.html.erb-->
<!--</p>-->

<!--ブログのタイトル（name)を表示-->
<!--コンテント(article)を表示-->
<p>title: <%=@blog.name %></p>
<p>title: <%=@blog.article %></p>
