// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#each-comment {
  margin: 10px;
  border-bottom: solid 1px #eee;
}

.haba {
  margin-right: 25px;
}

#margin-btwn-email-and-comment {
  margin-bottom: 10px;
}

#comments-entry {
  margin-top: 20px;
  border-top: solid 1px #2E2F30;
}