// Place all the styles related to the UserList controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

table th,table td{
  text-align: center;
  width: 25%;
  padding: 15px 0;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.user-property {
  padding: 15px 7px;
  border-bottom: solid 1px #eee;
}